@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gelasio';
  src: url('./assets/fonts/Gelasio-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Dancing';
  src: url('./assets/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hide scrollbar for WebKit-based browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html,
body {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer 10+ and Edge */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
}
